<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
    <title>Library</title>
  </head>
  <body>

    <div class="container">

      <h1>Welcome to the Library</h1>
      <h3><a href="/books">Add or view a book</a></h3>
      <h3><a href="/authors">Add or view an author</a></h3>
      <h3><a href="/patrons">Add or view a patron</a></h3>
      <h3><a href="/checkouts">Add or view a checkout</a></h3>

      <iframe width="420" height="315" src="https://www.youtube.com/embed/vwrybM6tL-8" frameborder="0" allowfullscreen></iframe>
    </div>
  </body>
</html>
