<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
  </head>
  <body>
    {% include '/includes/navbar.html.twig' %}
    <div class="container">
      {% include '/includes/message.html.twig'%}
      {% include '/includes/form.html.twig' %}
      <h1>Welcome to the Library</h1>
      <h3><a href="/books">Add or view a book</a></h3>
      <h3><a href="/authors">Add or view an author</a></h3>
      <h3><a href="/patrons">Add or view a patron</a></h3>
    </div>
  </body>
</html>
